In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [51]:
divorce_categories = pd.read_csv("divorce.csv")
divorce_categories.tail()
values = pd.read_csv("divorce_values.csv")
values.tail()

,Atr1,Atr2,Atr3,Atr4,Atr5,Atr6,Atr7,Atr8,Atr9,Atr10,...,Atr46,Atr47,Atr48,Atr49,Atr50,Atr51,Atr52,Atr53,Atr54,Unnamed: 54
0,Communications,Communications,Communications,Communications,Experiences,Experiences,Experiences,Experiences,Experiences,Values,...,Acquiesce,Acquiesce,Self-righteous,Self-righteous,Self-righteous,Self-righteous,Respect,Respect,Respect,Zero
1,Positive,Positive,Positive,Positive,Positive,Negative,Negative,Positive,Positive,Positive,...,Negative,Negative,Negative,Negative,Negative,Negative,Negative,Negative,Negative,Zero

In [56]:
for i in range(1, 55):
    #print(divorce_categories["Atr" + str(i)].shape)
    if values["Atr" + str(i)].iloc[1] == 'Negative':
        #print(4 - divorce_categories["Atr" + str(i)])
        divorce_categories["Atr" + str(i)] = 4 - divorce_categories["Atr" + str(i)]
        divorce_categories["Atr" + str(i)] /= 4