In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("divorce.csv", low_memory=False)
df.head()

,Atr1,Atr2,Atr3,Atr4,Atr5,Atr6,Atr7,Atr8,Atr9,Atr10,...,Atr46,Atr47,Atr48,Atr49,Atr50,Atr51,Atr52,Atr53,Atr54,Class
0,2,2,4,1,0,0,0,0,0,0,...,2,1,3,3,3,2,3,2,1,1
1,4,4,4,4,4,0,0,4,4,4,...,2,2,3,4,4,4,4,2,2,1
2,2,2,2,2,1,3,2,1,1,2,...,3,2,3,1,1,1,2,2,2,1
3,3,2,3,2,3,3,3,3,3,3,...,2,2,3,3,3,3,2,2,2,1
4,2,2,1,1,1,1,0,0,0,0,...,2,1,2,3,2,2,2,1,0,1

In [3]:
divorced = df["Class"] == 1 # 1 means divorced
married = df["Class"] == 0 # 0 means stayed divorced

# 0 means agree, 4 means disagree
df[divorced]["Atr1"].mean()

3.1904761904761907

In [4]:
df[married]["Atr1"].mean()

0.3953488372093023

In [5]:
def divorced_vs_not(question_num):
    column_name = "Atr" + str(question_num)
    divorced_avg = df[divorced][column_name].mean()
    married_avg = df[married][column_name].mean()
    return divorced_avg - married_avg

for i in range(1, 55):
    print(i, divorced_vs_not(i))

1 2.7951273532668885
2 2.4039313399778517
3 2.2771317829457365
4 2.45874861572536
5 2.907253599114064
6 0.758859357696567
7 0.9764673311184939
8 2.681616832779623
9 2.8347176079734218
10 2.3668327796234774
11 3.0166112956810633
12 2.5451273532668885
13 2.490586932447398
14 2.590254706533776
15 2.707918050941307
16 2.658637873754153
17 2.992248062015504
18 2.8831672203765226
19 3.0390365448504983
20 2.8111849390919157
21 2.5035991140642304
22 2.3826135105204873
23 2.6924141749723143
24 2.5182724252491693
25 2.615171650055371
26 2.6118493909191582
27 2.527408637873754
28 2.4781284606866
29 2.8355481727574747
30 2.6237541528239205
31 2.603266888150609
32 2.684108527131783
33 3.0664451827242525
34 2.7156699889258027
35 3.169158361018826
36 3.179401993355482
37 2.9554263565891477
38 3.055924695459579
39 3.0730897009966776
40 3.3621262458471763
41 3.070874861572536
42 2.3217054263565893
43 1.522702104097453
44 2.8460686600221483
45 1.6345514950166111
46 1.2131782945736433
47 2.0772425249169437
48 1.4058693244739757
49 2.2328349944629013
50 2.116279069767442
51 1.7408637873754154
52 1.9183277962347731
53 2.1353820598006648
54 2.683001107419712

In [6]:
pairs = [(i, divorced_vs_not(i)) for i in range(1, 55)]
pairs.sort(key=lambda x: x[1], reverse=True)

for pair in pairs:
    print(pair)

(40, 3.3621262458471763)
(36, 3.179401993355482)
(35, 3.169158361018826)
(39, 3.0730897009966776)
(41, 3.070874861572536)
(33, 3.0664451827242525)
(38, 3.055924695459579)
(19, 3.0390365448504983)
(11, 3.0166112956810633)
(17, 2.992248062015504)
(37, 2.9554263565891477)
(5, 2.907253599114064)
(18, 2.8831672203765226)
(44, 2.8460686600221483)
(29, 2.8355481727574747)
(9, 2.8347176079734218)
(20, 2.8111849390919157)
(1, 2.7951273532668885)
(34, 2.7156699889258027)
(15, 2.707918050941307)
(23, 2.6924141749723143)
(32, 2.684108527131783)
(54, 2.683001107419712)
(8, 2.681616832779623)
(16, 2.658637873754153)
(30, 2.6237541528239205)
(25, 2.615171650055371)
(26, 2.6118493909191582)
(31, 2.603266888150609)
(14, 2.590254706533776)
(12, 2.5451273532668885)
(27, 2.527408637873754)
(24, 2.5182724252491693)
(21, 2.5035991140642304)
(13, 2.490586932447398)
(28, 2.4781284606866)
(4, 2.45874861572536)
(2, 2.4039313399778517)
(22, 2.3826135105204873)
(10, 2.3668327796234774)
(42, 2.3217054263565893)
(3, 2.2771317829457365)
(49, 2.2328349944629013)
(53, 2.1353820598006648)
(50, 2.116279069767442)
(47, 2.0772425249169437)
(52, 1.9183277962347731)
(51, 1.7408637873754154)
(45, 1.6345514950166111)
(43, 1.522702104097453)
(48, 1.4058693244739757)
(46, 1.2131782945736433)
(7, 0.9764673311184939)
(6, 0.758859357696567)